<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>plugin</string>
	<key>CFBundleIdentifier</key>
	<string>net.addpixel.GutenTag</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Guten Tag</string>
	<key>CFBundleShortVersionString</key>
	<string>0.3.0</string>
	<key>CFBundleVersion</key>
	<string>3</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2021 Florian Pircher</string>
	<key>NSPrincipalClass</key>
	<string>GutenTag</string>
	<key>PyMainFileNames</key>
	<array>
		<string>plugin.py</string>
	</array>
	<key>UpdateFeedURL</key>
	<string>https://raw.githubusercontent.com/florianpircher/GutenTag/main/Guten%20Tag.glyphsPalette/Contents/Info.plist</string>
	<key>productPageURL</key>
	<string>https://github.com/florianpircher/GutenTag</string>
	<key>productReleaseNotes</key>
	<string>Adds support for Glyphs 3.0.3 (3061). Adds glyph and layer colors to glyph previews. Adds a button to open all glyphs with a tag in new tab. Allow for custom preview images sizes. Fixes setting tags for glyphs in font view when switching from edit view to font view.</string>
</dict>
</plist>
